---
name: Test
on: workflow_call

jobs:
  test-1:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - run: npm run build

      - name: Unlock test-1
        uses: ./
        with:
          mode: unlock
          key: test-1
      - name: Lock test-1
        uses: ./
        with:
          mode: lock
          key: test-1
          post_unlock: "true"
          max_wait_seconds: "30"
          wait_interval_seconds: "5"
      - name: Check test-1
        uses: ./
        id: check
        with:
          mode: check
          key: test-1
      - name: Check the output of check step
        run: echo "$OUTPUTS"
        env:
          OUTPUTS: ${{toJSON(steps.check.outputs)}}

  test-2:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - run: npm run build

      - name: Check test-2
        uses: ./
        id: check
        with:
          mode: check
          key: test-2
      - name: Check the output of check step
        run: echo "$OUTPUTS"
        env:
          OUTPUTS: ${{toJSON(steps.check.outputs)}}
      - name: Lock test-2
        uses: ./
        with:
          mode: lock
          key: test-2
          max_wait_seconds: "30"
          wait_interval_seconds: "5"
      - name: Remove test-2
        uses: ./
        with:
          mode: unlock
          key: test-2
          remove_key_when_unlock: "true"
      - name: Remove test-2 again
        uses: ./
        with:
          mode: unlock
          key: test-2
          remove_key_when_unlock: "true"
